.projectsContainer {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2.375rem;
    margin-bottom: 16px; /* Added for better spacing */
  }

  p {
    width: -moz-fit-content;
    margin: 8px auto; /* Ensure consistent spacing */
  }

  > div {
    display: grid;
    width: 85%;
    max-width: 1200px; /* Center grid with a max-width */
    margin-inline: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.1em;
  }

  @media screen and (max-width: 1500px) {
    .projectsContainer > div {
      margin-inline: 14%;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }

  @media screen and (min-width: 2560px) {
    .projectsContainer > div {
      margin-inline: auto;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }

  /* Add subtle hover effects */
  .projectsContainer > div > div:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
}
