body {
  font-family: "poppins-rg";
  background-color: #322828;

  .navbar {
    a {
      color: #dcb26f;
    }
    &::after {
      background-color: #cd8228;
    }
  }
  h3 {
    font-size: 18px;
  }
  h1,
  h2,
  h3 {
    color: #cd8228;
    font-family: "poppins-bd";
  }
  p,
  a {
    color: #cd8228;
  }
  .modeIcon {
    fill: #cd8228;

    &:hover {
      cursor: pointer;
    }
  }
  .git {
    fill: #cd8228;
  }
  .singleSkillWrapper {
    a {
      background-color: #2a2f4c;
    }
  }
  .button {
    color: #cd8228;
    border-color: #cd8228;
    &:hover {
      color: #23283e;
    }
    &::before {
      background: #cd8228;
    }
  }
  .navbar {
    display: flex;
    width: 98vw;
    padding: 40px 15%;
    justify-content: space-between;

    a {
      text-decoration: none;
      font-size: 1.5rem;
      color: #cd8228;
      align-self: center;
      font-family: "poppins-bd";
    }

    ul {
      display: flex;
      gap: 24px;
      list-style: none;

      li a {
        font-size: 1.125rem;

        text-decoration: none;
        font-family: "poppins-rg", sans-serif;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-color: #cd8228;
          height: 3px;
          width: 0;
          left: 0;
          bottom: -8px;
          transition: all 0.2s linear;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
.light {
  background-color: #fff;

  .git {
    fill: #b56a29;
  }

  .navbar {
    a {
      color: #b56a29;
    }
    &::after {
      background-color: #b56a29;
    }
  }

  h1 {
    color: #444;
  }

  h2 {
    color: #959595;
  }

  h1 span {
    color: #b56a29;
  }

  h3 {
    color: #d18404;
  }

  p {
    color: #444;
  }

  a {
    color: #b56a29;
  }
  ul {
    color: #b56a29;
  }

  .button {
    color: #b56a29;
    border-color: #b56a29;
    &:hover {
      color: #fff;
    }
    &::before {
      background: #b56a29;
    }
  }

  .modeIcon {
    fill: #b56a29;
  }

  .singleSkillWrapper {
    a {
      background-color: #fff;
      color: #444;
      &:hover {
        color: #b56a29;
      }
    }
  }

  .navbar {
    display: flex;
    width: 98vw;
    padding: 40px 15%;
    justify-content: space-between;

    a {
      text-decoration: none;
      // font-size: 1rem;
      color: #b56a29;
      align-self: center;
      font-family: "poppins-bd";
    }

    ul {
      display: flex;
      gap: 24px;
      list-style: none;

      li a {
        font-size: 1.125rem;

        text-decoration: none;
        font-family: "poppins-rg", sans-serif;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-color: #b56a29;
          height: 3px;
          width: 0;
          left: 0;
          bottom: -8px;
          transition: all 0.2s linear;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
