.skillsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  gap: 20px;
  align-items: center;

  h2 {
    font-size: .4rem;
    color: #959595;
  }

  div {
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    p {
      margin: 6px;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.191);
      padding: 16px;
      text-align: center;
      transition: all 0.1s linear;

      &:hover {
        transform: translateY(-1px);
        box-shadow: 1px 1px 10px 0px rgba(241, 183, 107, 0.1019607843);
      }
    }
  }
}

.item3 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.item6 {
  grid-column-start: 2;
  grid-column-end: 4;
}
