.skillsContainer {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  h2 {
    font-size: 1.4rem;
  }

  div {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    p {
      margin: 6px;
      box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.191);
      padding: 16px;
      text-align: center;
      transition: all 0.1s linear;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 4px 11px 4px 0px rgba(0, 0, 0, 0.191);
      }
    }
  }
}

.item3 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.item6 {
  grid-column-start: 2;
  grid-column-end: 4;
}
